@import "../fonts/opensans/font.css";
@import "mixin";
@import "variable";

body{
  font-family: 'Open Sans Regular', sans-serif;
}

@mixin masaustu{
  @media(min-width:#{$desktop}){
    @content;
  }
}
@mixin mobil{
  @media(max-width:#{$mobil}){
    @content;
  }
}
body{
  background:renk(uc);
  b{
    transform: rotate(45deg);
    display: flex;
    @include masaustu{
      width: 800px;
      margin: auto;
      background: renk(uc);
      display: block;
    }
    @include mobil(){
      width: 100px;
      background: renk(ikinci);

    }
  }
}

@media (min-width: 576px) { }
@media (min-width: 768px) { }
@media (min-width: 992px) { }
