@import "../fonts/opensans/font.css";
@import "mixin";
@import "variable";

body{
  font-family: 'Open Sans Regular', sans-serif;
}


body{
  background:color(bg-product );
  b{
    transform: rotate(45deg);
    display: flex;
  }
}
header{
  background: color(siyah);
}
.ktu{
  background: orange;

  @include large{
    background: yellow;
  }
  @include medium{
    background: cyan;
  }
  @include small{
    background: blue;
  }
  @include extra-small{
    background: lightblue;
  }

}

